body {
    padding-top: 51px;
}

div.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}

.toggler {
    display: none;
    color: #CCCCCC;
    font-size: 1.5em;
    line-height: 2.5em;
    text-align: right;
}

.subContent section {
    padding-top: 54px;
    height: 30em;
}

.nav-tabs li a {
    font-size: 22px;
}

div.jumbotron {
    padding: 20px;
}

div.main {
    position: relative;
}

div.logo {
    background: url('../img/nodeday_logov1.png');
    background-repeat: no-repeat;
    background-size: 400px;
    height: 400px;
    width: 400px;
    display: inline-block;
}

div.date {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    top: 60px;
    left: 50%;
}

div.tagline {
    line-height: 1.5em;
    position: absolute;
    top: 105px;
    left: 50%;
    max-width: 360px;
}

.nav > li {
    float: left;
}

section h2 {
    font-weight: 200;
    font-size: 3em;
}

@media (max-width: 640px) /* @grid-float-breakpoint -1 */ {

    .toggler {
        display: block;
    }

    div.jumbotron {
        margin: 0;
        padding: 0;
    }

    div.main{
        text-align: center;
    }
    div.logo {
        background-size: 280px;
        height: 280px;
        width: 280px;
        margin: 0 auto;
    }

    div.date {
        position: static;
        margin: 0;
        padding: 0;

    }

    div.tagline {
        position: static;
        margin: 0;
        padding: 0;
        max-width: 100%;
    }


    .nav {
        display: none;
    }

    .nav > li {
        float: none;
        display: block;
        text-align: center;
        font-size: 1.25em;
    }

    .navbar-collapse {
        max-height: none;
    }

    body {
        padding-top: 40px;
    }

    div.action button{
        width: 100%;
        font-size: 1.5em;
        margin: .25em 0;
    }
}